.Container1 {
  margin: 0 auto;
  width: 100%;  
  display: grid;
  grid-gap: 6px;
  grid-template-areas: 
    "h  h  h"
    "s  s  s"
    "a1  a2  a3"   
    ;
}

.Container1 h1 {
  font-size: 1.2rem;
  color: #333;
  grid-area: h;
}

.Container1 p {
  color: #333;
  text-align: center;
  grid-area: s;
}


.Container1 .section-col1{
  grid-area: a1;
}
.Container1 .section-col2{
  grid-area: a2;
}
.Container1 .section-col3{
  grid-area: a3;
}

@media(max-width: 550px) {
  .Container1 {
    grid-template-areas: 
        "h"
        "s"
        "a1"
        "a2"
        "a3"
      ;
  }
}