.Container2 {
  margin: 0 auto;
  width: 100%;   
  display: grid;
  grid-gap: 6px;
  grid-template-areas: 
    "h  h"
    "s  s"
    "a1  a2"   
    ;
}

.Container2 h1 {
  font-size: 1.2rem;
  color: #333;
  grid-area: h;
}

.Container2 p {
  color: #333;
  text-align: center;
  grid-area: s;
}
.Container2 .section-col1{
  grid-area: a1;
}
.Container2 .section-col2{
  grid-area: a2;
}

@media(max-width: 550px) {
  .Container2 {
    grid-template-areas: 
        "h"
        "s"
        "a1"
        "a2"
      ;
  }
}


