.Home {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-gap: 6px;
  grid-template-areas: 
    "h  h  h"
    "s  s  s"
    "a1  a2  a3"   
    ;
}

.Home h1 {
  font-size: 1.2rem;
  color: #333;
  grid-area: h;
}

.Home p {
  color: #333;
  text-align: center;
  grid-area: s;
}

.Home a {
  color: #56D5FA;
  text-decoration: none;
}

.Home a:hover {
  color: #333;
}
.Home .section-col1{
  grid-area: a1;
}
.Home .section-col2{
  grid-area: a2;
}
.Home .section-col3{
  grid-area: a3;
}